.grid {

    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #cccccc;

    &__header {

        width: 100%;
        display: flex;
        border-bottom: 1px solid #cccccc;

        &-cell {
            position: relative;
            flex-grow: 1;
            flex-basis: 0;
            padding: 4px 8px;
            font-weight: bold;
            text-align: center;
            border-right: 1px solid #cccccc;

            &:last-child {

                border-right: 0;
            }

            &:before,
            &:after {

                content: "";            
                display: block;
                height: 8px;
                width: 8px;
                box-sizing: border-box;
                border: 4px solid transparent;
                position: absolute;
                right: 8px;
                cursor: pointer;            
            }

            &:before {

                top: 15px;
                border-top: 4px solid #cccccc;
            }

            &:after {

                top: 5px;
                border-bottom: 4px solid #cccccc;
            }
        }
    }

    &__body {

    }

    &__row {

        display: flex;
        border-bottom: 1px solid #cccccc;
        
        &-cell {

            flex-grow: 1;
            flex-basis: 0;
            padding: 4px 8px;
            border-right: 1px solid #cccccc;

            &:last-child {

                border-right: 0;
            }
        }

        &:last-child {

            border: 0;
        }
    }

    &--sort-asc:after {

        border-bottom-color: #333333;
    }

    &--sort-desc:before {

        border-top-color: #333333;
    }
}
